
.menuebar {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0 !important;
  overflow-x: hidden !important;; /*Disable horizontal scroll */
  background-color: white;
  margin-right: 0; 
  z-index: 500;
  }


.menuebar a {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  float: left;
  color: rgb(113, 158, 184) ;
  padding: 1% 1%;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  width: 10%; 
}

.menuebar a:hover {
  background-color:rgb(113, 158, 184);
  color: white;
}

#logo{
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 500;
  float: left;
  width: 13%;
}



#ban1{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: 700 2em/1.4 cursive, sans-serif;
  color: rgb(63, 116, 138);
}

h2:before{
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 0 0 20px;
    flex: 1 0 20px;
}


/* about me */

.warpper{
  display:flex;
  flex-direction: column; /* menue in the top */
  align-items: center;
  position: relative;
}
.tab{
  cursor: pointer; /* clike with mouse */
  padding:10px 30px;
  margin:0px 2px;
  display:inline-block;
  color:#1c527e80;
  border-radius:3px 3px 10px 0px;
  box-shadow: 0 0.5rem 0.8rem #555;
  font-family: cursive;
  position: relative;
}
.panels{
  box-shadow: 0 2rem 2rem #555;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:9px;
  padding:40px;  
  font-family: cursive;
  
}
.panel{
  display:none;  /* each tab with his info */
}

.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  border-top: 4px solid rgb(46, 117, 150);
}
.info{
  float:right;
  margin:0 0 200px 0;
  line-height: 2.5em;
  
}
#profilPic{
  float:left;
  border-right:  25px solid rgb(255, 255, 255);

}
.hobbisImg{
  text-align: center;
}
#aboutPic{
  float:right;
  border-top:  35px solid rgb(255, 255, 255);
}


/* photos */


.ulPhotos{
  text-align: center;
}

.ulPhotos li{
  text-align:center;
  padding: 12px 12px 50px 12px;
  display:inline-block;
  list-style:none;
  position:relative;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}

.ulPhotos li:hover{
  top:0px;
  opacity:0.5;
}

.ulPhotos li:nth-child(1){
    transform:rotate(10deg);
}

.ulPhotos li:nth-child(2){
    transform:rotate(0deg);
}

.ulPhotos li:nth-child(3){
    transform:rotate(-10deg);
}

.ulPhotos li:nth-child(4){
    transform:rotate(20deg);
}
.ulPhotos li:nth-child(5){
  transform:rotate(-5deg);
}
p{
  margin:0 0 -20px 0;
  font-family: cursive;
}
span{
  margin:0 0 -20px 0;
  color: #555
  
  ;
  font-family: cursive;
}



/* PLAYLIST */

.container {
  display: flex;
  width: 100%;
  padding: 2% 1%;
  box-sizing: border-box;
  height: 70vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px #555(0,0,0,.1);
}

.box > iframe {
  width: 100%;
  height: 80%;
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }

 



#mytextarea{
  max-width:  60%;
}
.form-control::placeholder {
  font-family: cursive;  
}

.container1{
  width: 655px;
  margin: auto;
  font-family: cursive;
}


button {
  cursor: pointer; /* clike with mouse */
  padding:10px 30px;
  display:inline-block;
  color:#1c527e80;
  border-radius:3px 3px 10px 0px;
  font-weight: bold;
  font-family: cursive;
  position: relative;
  border-color:   #1c527e80;;
  background-color: white;
}